- @no_container = true
- page_title "Tags"
= render "projects/commits/head"

%div{ class: container_class }
  .top-area
    .nav-text
      Tags give the ability to mark specific points in history as being important

    - if can? current_user, :push_code, @project
      .nav-controls
        = link_to new_namespace_project_tag_path(@project.namespace, @project), class: 'btn btn-create new-tag-btn' do
          New tag
        .dropdown.inline
          %button.dropdown-toggle.btn{ type: 'button', data: { toggle: 'dropdown'} }
            %span.light= @sort.humanize
            %b.caret
          %ul.dropdown-menu.dropdown-menu-align-right
            %li
              = link_to namespace_project_tags_path(sort: nil) do
                Name
              = link_to namespace_project_tags_path(sort: sort_value_recently_updated) do
                = sort_title_recently_updated
              = link_to namespace_project_tags_path(sort: sort_value_oldest_updated) do
                = sort_title_oldest_updated

  = render 'projects/commits/mirror_status'

  .tags
    - if @tags.any?
      %ul.content-list
        = render partial: 'tag', collection: @tags

      = paginate @tags, theme: 'gitlab'

    - else
      .nothing-here-block
        Repository has no tags yet.
        %br
        %small
          Use git tag command to add a new one:
          %br
          %span.monospace git tag -a v1.4 -m 'version 1.4'
